@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Ubuntu+Condensed&subset=cyrillic-ext');

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    background: #fff url('../img/vertical-waves.png') repeat;
    font-size: 20px;
}

nav#navbar {
    box-shadow: 0 1px 20px #000;
}

nav > .nav-wrapper a.brand-logo.center {
    font-family: 'Fredericka the Great', cursive;
    font-size: 42px;
    text-shadow: 0 1px 3px #000;
}

form {
    margin-top: 50px;
    border: 1px solid #ccc;
    padding: 30px!important;
    border-radius: 10px;
    box-shadow: 0 2px 8px #000;
    background: #fff;
}

form label {
    font-size: 20px!important;
    text-shadow: 0 0 1px #ccc;        
}

form #search {
    font-size: 23px;
}

a#submit {
  
}